insta_cleaned (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1360,
        -96
      ],
      "id": "cb4daf7e-74a4-4004-832a-757fc63063fc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "filterByFormula": "{Status}='Draft'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1200,
        -96
      ],
      "id": "79a5cf26-9016-43f8-a0ad-5af6499e0539",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "LFKswrgwAhBL0R8I",
          "name": "Airtable Account (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Status": "Draft",
            "Caption ": "={{ $json.output[0].content[0].text }}",
            "Hashtags": "={{ $('Generate Hashtags').item.json.output[0].content[0].text }}",
            "Image Prompt": "={{ $('Generate Image Prompt').item.json.output[0].content[0].text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Content Idea",
              "displayName": "Content Idea",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption ",
              "displayName": "Caption ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Scheduled",
                  "value": "Scheduled"
                },
                {
                  "name": "Posted",
                  "value": "Posted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scheduled Date ",
              "displayName": "Scheduled Date ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments Summary",
              "displayName": "Comments Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Generated image",
              "displayName": "Generated image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -176,
        -96
      ],
      "id": "c7a98caf-58ff-4739-85a8-b81b69884907",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "LFKswrgwAhBL0R8I",
          "name": "Airtable Account (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "eshasarfraz99@gmail.com",
        "subject": "New Instagram Caption Ready for Review",
        "message": "=New Instagram post ready for review!  Content Idea: {{ $('Search records').item.json.fields[\"Content Idea\"] }}  Caption: {{ $('Generate Caption').item.json.output[0].content[0].text }}  Hashtags: {{ $('Generate Hashtags').item.json.output[0].content[0].text }}  Image Prompt: {{ $('Generate Image Prompt').item.json.output[0].content[0].text }}  \ud83d\udc49 Click to APPROVE: https://eshuz.app.n8n.cloud/webhook/2778d724-d201-45c5-889a-1b9373f1b3d0?action=approve&recordId={{ $('Search records').item.json.id }}  \ud83d\udc49 Click to REJECT: https://eshuz.app.n8n.cloud/webhook/2778d724-d201-45c5-889a-1b9373f1b3d0?action=reject&recordId={{ $('Search records').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        -96
      ],
      "id": "01d0df49-61fa-4c25-82e8-1d90cad8586a",
      "name": "Send a message",
      "webhookId": "cdf5b707-f9a9-4137-a7ba-35a426bc4bf7",
      "credentials": {
        "gmailOAuth2": {
          "id": "8UTQAFSiBFGX7qQV",
          "name": "Gmail Account (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "path": "2778d724-d201-45c5-889a-1b9373f1b3d0",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        272
      ],
      "id": "0128e07b-dc24-4686-9876-62ae1284a0c8",
      "name": "Webhook",
      "webhookId": "2778d724-d201-45c5-889a-1b9373f1b3d0"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5f527b2-7ed2-4175-8761-fcdf24634afe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "56ba99af-41f5-4db7-ab39-18dc1ac90eef",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "=reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -400,
        272
      ],
      "id": "f4df036b-5c3a-49fa-a600-d006365287f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.query.recordId }}",
            "Status": "Approved"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Content Idea",
              "displayName": "Content Idea",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption ",
              "displayName": "Caption ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Scheduled",
                  "value": "Scheduled"
                },
                {
                  "name": "Posted",
                  "value": "Posted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scheduled Date ",
              "displayName": "Scheduled Date ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments Summary",
              "displayName": "Comments Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -224,
        176
      ],
      "id": "26e53b1b-dd0f-4902-bf40-a95d8ed011f1",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "wexXLWKoQCTxziwH",
          "name": "Airtable Account (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.query.recordId }}",
            "Status": "Rejected"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Content Idea",
              "displayName": "Content Idea",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption ",
              "displayName": "Caption ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Scheduled",
                  "value": "Scheduled"
                },
                {
                  "name": "Posted",
                  "value": "Posted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scheduled Date ",
              "displayName": "Scheduled Date ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments Summary",
              "displayName": "Comments Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -208,
        384
      ],
      "id": "e69e6a80-e67c-456b-b9bd-752ce6992f81",
      "name": "Update record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "wexXLWKoQCTxziwH",
          "name": "Airtable Account (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "filterByFormula": "=RECORD_ID() = '{{ $('Webhook').item.json.query.recordId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -32,
        176
      ],
      "id": "07392ad8-0e6a-4cc0-a924-7948fb9743da",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "wexXLWKoQCTxziwH",
          "name": "Airtable Account (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Create a detailed image generation prompt for an Instagram post about this content idea: {{ $('Search records').item.json.fields[\"Content Idea\"] }}\n\nDescribe the visual scene, style, colors, and mood in 2-3 sentences. Make it suitable for AI image generators like DALL-E or Midjourney."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -1040,
        -96
      ],
      "id": "17864b08-eea4-4e73-ad14-1f0c601e6a77",
      "name": "Generate Image Prompt",
      "credentials": {
        "openAiApi": {
          "id": "1ilGREH6zEj8YBXU",
          "name": "OpenAI API Key (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Generate 15-20 relevant Instagram hashtags for this content idea: {{ $('Search records').item.json.fields[\"Content Idea\"] }}\n\nReturn ONLY the hashtags separated by spaces, no explanations, no numbering."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -752,
        -96
      ],
      "id": "a7fe2b89-501f-4d26-b6f8-71de6252d8cf",
      "name": "Generate Hashtags",
      "credentials": {
        "openAiApi": {
          "id": "1ilGREH6zEj8YBXU",
          "name": "OpenAI API Key (connect yours)"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Write an engaging Instagram caption for this content idea: {{ $('Search records').item.json.fields[\"Content Idea\"] }}\n\nMake it 150-200 words, conversational, with a call to action at the end."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -464,
        -96
      ],
      "id": "f47ac8b3-1cbf-4371-b3d3-47a660f98ec3",
      "name": "Generate Caption",
      "credentials": {
        "openAiApi": {
          "id": "1ilGREH6zEj8YBXU",
          "name": "OpenAI API Key (connect yours)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record1": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        []
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Hashtags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hashtags": {
      "main": [
        [
          {
            "node": "Generate Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be8fe3ac-b49e-4469-b92e-e55321c565ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61eec7fb0cad65cc116c6e8e4d09a52c84d552b016a2b35288efa3052d10406b"
  },
  "nodeGroups": [],
  "id": "mlrPkWZNg3DF7rL6",
  "tags": []
}